body {
    margin: 0;
    padding: 0s;
}

.parent {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    perspective: 10px;
    transform-style: preserve-3d;
}

.box {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    z-index: -1;
}

.one {
    background-image: url(../imgs/1.jpg);
}

.two {
    background-image: url(../imgs/2.jpg);
}

.three {
    background-image: url(../imgs/3.jpg);
    color: white;
}

.box .text {
    position: relative;
    z-index: 2;
    transform: translateZ(-10px);
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.box .text h1 {
    font-size: 4.5rem;
}

.box .text p {
    font-size: 1.5rem;
    padding: 10px;
}