body {
    margin: 0;
}

.wrapper {
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 1px;
}

.wrapper .img-section {
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.wrapper img {
    background-size: cover;
    position: absolute;
    transform: translateZ(-1px) scale(2);
}

.wrapper .title {
    font-size: 4rem;
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    z-index: 1;
}

section .desc {
    font-size: 1.4rem;
    padding: 10px;
    line-height: 1.3;
    background: #333;
    color: #eee;
}